<div class="adminbox" align="middle">
    <a href="{{ path_url_postfix }}/admin/users/viewall" class="adminblock" title="Manage Users"><img src="{{ path_static }}images/users.png" alt="Users" style="width: 128px; "/> Manage Users</a>
    <a href="{{ path_url_postfix }}/admin/categories/viewall" class="adminblock" title="Manage Categories"><img src="{{ path_static }}images/category.png" alt="Categories" style="width: 128px; "/>Manage Categories</a>
    <a href="{{ path_url_postfix }}/admin/articles/viewall" class="adminblock" title="Manage Articles"><img src="{{ path_static }}images/article.png" alt="Articles" style="width: 128px; " />Manage Articles</a>
</div>
