<div style="float:left;width:100%;background:#eee;">
    <span style="float:left;width:80%;" ><a href="{{ path_url_postfix }}/uhome" class="sidelinks">Home</a> >> Category Management </span>
    <span style="float:left;width:20%;" ><a href="{{ path_url_postfix }}/admin/categories/add" class="sidelinks" >Add Category</a></span>
</div>
<div style="float:left;width:100%;">
    {% if data and is_admin%}
    <table class="innertbl" style="width:100%;float:left;border:1px solid #ddd;" >
        <tr style="width:100%;float:left; text-align:left; " class="tblhead" >
            <th style="width:20px;" class="tblfield" >Id</th>
            <th style="width:200px;" class="tblfield" >Name</th>
            <th style="width:40px;" class="tblfield">Type</th>
            <th style="width:80px;" class="tblfield" >Insert Date</th>
            <th style="width:80px;" class="tblfield" >Update Date</th>
            <th style="width:70px;" class="tblfield">Permission</th>
            <th style="width:50px;" class="tblfield">Edit</th>
            <th style="width:50px;" class="tblfield">Delete</th>
        </tr>
        {% for cat in data %}
            {% if loop.index is even %}
                <tr style="width:100%; float:left;" bgcolor="#FFFFFF">
            {% else %}
                <tr style="width:100%; float:left;" bgcolor="#D5E4EA">
            {% endif %}
                <td class="tblfield" style="width:20px;">{{ cat.id }}</td>
                <td class="tblfield" style="width:200px;">{{ cat.catname }}</td>
                <td class="tblfield" style="width:40px;">{{ cat.mtype }}</td>
                <td class="tblfield" style="width:80px;">{{ cat.date_inserted|date("m/d/Y") }}</td>
                <td class="tblfield" style="width:80px;">{{ cat.date_updated|date("m/d/Y") }}</td>

                <td class="tblfield" style="width:70px;">{% if cat.state == 0 %} <a href="{{ path_url_postfix }}/admin/toggle/categories/permission/{{ cat.id }}">Disable</a>{% elseif  cat.state == 1 %} <a href="{{ path_url_postfix }}/admin/toggle/categories/permission/{{ cat.id }}">Enable</a> {% endif %}</td>
                <td class="tblfield" style="width:50px;"><a href="{{ path_url_postfix }}/admin/categories/edit/{{ cat.id }}">Edit</a></td>
                <td class="tblfield" style="width:50px;"><a href="{{ path_url_postfix }}/admin/categories/delete/{{ cat.id }}" class="contdel">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
    <table class="innertbl" style="width:100%;background:#fff;">
        <tr style="width:100%; float:left;background:#684574;" class="tblhead">
            <th class="spanlist" style="width:100%;padding:5px;">No category list found.</th>
        </tr>
    </table>
    {% endif %}
</div>
{% verbatim %}
<script type="text/javascript">
    $(document).ready(function(){
        $('a.contdel').click(function(){
            var link = $(this).attr('href');
            jConfirm('Are you sure you want to delete this category?', 'Confirmation Dialog', function(r) {
                if(r == true){
                    window.location.href = link;
                }
                else{
                    return false;
                }
            });
            return false;
        });
    });
</script>
{% endverbatim %}
